:root{
    --border-radius: 10px;
    --border-radius-box: 10px;
}

body{
    font-size: x-large;
    margin-top: 38px;
    user-select: none;
    font-family: pt-mono,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;

    margin: 0;
    padding: 0;
}

h1{
    background-color: #0336FF;
    text-shadow: 0 0 2px white;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;

    -webkit-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    -moz-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border-radius: var(--border-radius-box);

    
}

.top-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 10px 0;
}

.socre-container {
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    -moz-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border-radius: var(--border-radius);
    margin-top: 50px;

    width: 50%;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;

}

.score-title{
    padding: 10px 10px;
    font-weight: bolder;
    font-size: xx-large;
    color: gray;
    text-shadow: 0 0 2px gray;
    border-radius: var(--border-radius);
}

.score-board {
    padding: 10px 10px;
    font-weight: bolder;
    font-size: 150px;
    border-radius: var(--border-radius);
    margin: 10px;
    text-shadow: 0 0 2px white;


}

.repeat {
    padding: 10px;
}

button {
    padding: 10px 10px;
    border: none;
    background-color: #FF0266;
    color: black;
    transition: all .5s;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(161,161,161,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(161,161,161,1);
    box-shadow: 0px 1px 5px 0px rgba(161,161,161,1);
    text-shadow: 0 0 1px black;
    font-size: x-large;
    font-family: inherit;

    width: 100%;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}


@media (max-width: 600px) {

    .socre-container {
        width: 90%;
    }

}