body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.socre-container {
    background-color: orange;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.43);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.43);
    border-radius: 4px;
}

.score-title{
    background-color: palegoldenrod;
    padding: 10px 100px;
    font-weight: bolder;
    font-size: xx-large;
    color: gray;
    text-shadow: 0 0 2px gray;
}

.score-board {
    background-color: palegreen;
    padding: 10px 100px;
    font-weight: bold;
    font-size: 150px;
    text-shadow: 0 0 2px gray;
}

.repeat {
    padding: 10px;
    background-color: violet;
}

button {
    padding: 10px 100px;
    border: none;
    background-color: lightgreen;
    transition: all .5s;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.43);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.43);
    text-shadow: 0 0 3px gray;
    font-size: x-large;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}